<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.web.kworld.notice.NoticeMapper">

<sql id="condition">
<if test="searchType != null">
	<if test="searchType == 't'.toString()">
		and n_title like CONCAT('%',#{keyword},'%')
	</if>
	<if test="searchType == 'w'.toString()">
		and n_writer like CONCAT('%',#{keyword},'%')
	</if>
	<if test="searchType == 'c'.toString()">
		and n_content like CONCAT('%',#{keyword},'%')
	</if>
	<if test="searchType == 'wc'.toString()">
		and n_content like CONCAT('%',#{keyword},'%')
		or n_writer like CONCAT('%',#{keyword},'%')
	</if>
	<if test="searchType == 'twc'.toString()">
		and n_content like CONCAT('%',#{keyword},'%')
		or n_writer like CONCAT('%',#{keyword},'%')
		or n_title like CONCAT('%',#{keyword},'%')
	</if>
</if>

</sql>

<select id="selectNoticeList" resultType="org.web.kworld.notice.vo.NoticeVO">
<![CDATA[
select *
from notice
where 1=1
]]>
<include refid="condition"></include>
<![CDATA[
order by n_no desc
limit #{pageStart}, #{perPageNum}
]]>
</select>

<select id="countNotice" resultType="int">
<![CDATA[
select count(*)
from notice
where 1=1
]]>
<include refid="condition"></include>
</select>


<select id="selectNotice" resultType="org.web.kworld.notice.vo.NoticeVO">
select *
from notice
where n_no = #{n_no}
</select>

<insert id="insertNotice">
insert into notice (
	n_title,
    n_writer,
    n_content,
    m_id
	)
values (
	#{n_title},
    #{n_writer},
    #{n_content},
    #{m_id} )
    
</insert>

<update id="updateCnt">
update notice
set n_cnt = n_cnt+1 
where n_no = #{n_no}
</update>

<update id="updateNotice">
update notice
set n_title = #{n_title}, n_content = #{n_content}, n_updatedate=now()
where n_no = #{n_no}
</update>

<delete id="deleteNotice">
delete from notice
where n_no = #{n_no}
</delete>

<insert id="addAttach">
insert into noticefile(f_name, n_no)
values (#{f_name}, LAST_INSERT_ID())
</insert>


<select id="getAttach" resultType="string">
select f_name from noticefile 
where n_no = #{n_no}
order by regdate
</select>

<delete id="deleteAttach">
delete from noticefile
where n_no = #{n_no} 
</delete>

<delete id="deleteFile">
delete from noticefile
where f_name = #{f_name} 
</delete>

<insert id="replaceAttcah">
insert into noticefile(f_name,n_no)
values (#{fullName}, #{n_no})
</insert>

</mapper>