<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.web.kworld.notice.NoticeReplyMapper">
<insert id="insertReply">
insert into noticereply(r_content, r_writer, m_id, n_no)
values(#{r_content}, #{r_writer}, #{m_id}, #{n_no})
</insert>

<select id="selectAll" resultType="org.web.kworld.notice.vo.ReplyVO">
<![CDATA[
select * from noticereply 
where n_no = #{n_no}
order by n_regdate desc
]]>
</select>

<delete id="deleteReply" >
delete from noticereply
where r_no=#{r_no}
</delete>
</mapper>